style.css * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
section {
  padding: 3%;
}
/*-- SETEO INICIAL --*/

h1,
h2,
h3,
h4 {
  font-family: "Anton", sans-serif;
}

/*--ENCABEZADO--*/

header {
  background-image: url("../img/bg.jpg");
  padding: 6% 0% 6% 0%;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "return return return"
    "circle-left title circle-rigth"
    "btn-book btn-book btn-book";
}

#return-div {
  grid-area: return;
}

#circle-left {
  grid-area: circle-left;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

#tit-container {
  width: max-content;
  grid-area: title;
  z-index: 2;
}

#circle-rigth {
  grid-area: circle-rigth;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

#btn-book {
  grid-area: btn-book;
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
  z-index: 3;
}

#return {
  top: 3%;
  margin-left: 1%;
  transition: transform 300ms ease-out;
  position: fixed;
  z-index: 1;
}

#return:hover {
  transform: translate(0px, 0px) scale(0.9, 0.9);
}

#date {
  font-family: "Roboto" Thin, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.7px;
}

.title {
  font-size: 7rem;
  line-height: 125px;
  z-index: 1;
  box-shadow: -30px 0px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: -30px 1px 0px -1px rgba(255, 255, 255, 1);
  -moz-box-shadow: -30px 1px 0px -1px rgba(255, 255, 255, 1);
}

#subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 7.58px;
  padding: 0%;
}

#btn-book-now {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 1.3em;
  font-weight: 800;
  padding: 2%;
  top: 95%;
  left: 10%;
  color: #fff;
  width: 15em;
  height: auto;
  border: none;
  background: #9d0000;
  box-shadow: 10px 10px 18px rgba(92, 50, 234, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
}

#btn-book-now:hover {
  transform: translate(0px, 0px) scale(0.9, 0.9);
}

#circle-1 {
  width: 12em;
  height: 12em;
  border: 20px solid #9d0000;
  border-radius: 50%;
  position: absolute;
  bottom: -15%;
  right: -8%;
  z-index: 2;
}

#circle-2 {
  width: 80px;
  height: 80px;
  border: 10px solid #5830de;
  border-radius: 50%;
  position: absolute;
  right: 70%;
  top: 50%;
}

#circle-3 {
  width: 80px;
  height: 80px;
  border: 10px solid #9d0000;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  top: 10%;
}

#ce-credits {
  width: 200px;
  height: 200px;
  border: 20px solid #5830de;
  border-radius: 50%;
  background: #5830de;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0%;
}

/*--INTERMEDIO--*/

#intermediate {
  font-family: "Roboto" Thin, sans-serif;
  font-size: 2rem;
  margin-bottom: 0%;
}

/*--HOTEL--*/

#location-tit {
  letter-spacing: 1.5px;
  font-size: 4.5rem;
}

#location-sub {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.4rem;
  font-weight: 900;
}

#location-dir {
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-size: 1rem;
}

/*--ABSTRACT--*/

#abstract {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: justify;
}

#abstract div img {
  width: 100%;
  margin: 5% 5% 5% 5%;
}

#abstract p {
  margin-top: 8%;
  width: 50%;
}

/*--ORADORES--*/

#orators {
  background-color: #182256;
  font-family: "Roboto" Thin, sans-serif;
}

/*--PROGRAM--*/

#program {
  font-family: "Roboto" Thin, sans-serif;
  font-size: 1.5rem;
  list-style-image: url("../img/ul-ico.png");
}

.inter {
  list-style-image: url("../img/ul-ico-2.png");
}

/*--WORKSHOP--*/

.workshop {
  width: 30%;
}

#workshop-1 {
  border-radius: 50px;
  border-bottom-right-radius: 135px;
}

#workshop-2 {
  border-radius: 50px;
  border-bottom-right-radius: 135px;
}

#workshop-tit {
  font-family: "Roboto", sans-serif;
}

/*--REGISTRO--*/

#register {
  background-color: #182256;
  padding: 0% 0% 5% 0%;
}

#register h2 {
  font-size: 3rem;
  margin: 5% 0% 5% 0%;
}

#register p {
  font-size: 1.5rem;
}

#register a {
  width: 50%;
  margin-top: 5%;
}

#register button {
  border: 2px solid #b084fe;
  border-radius: 0%;
  font-size: 1.5rem;
  font-weight: 550;
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
  padding: 2% 6% 2% 6%;
}

#register button:hover {
  color: white;
  background-color: #b084fe;
}

/*--FOOTER--*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4%;
}

#logo-footer {
  height: 3rem;
  margin-right: 3rem;
}

footer div a {
  color: white;
  font-family: "Roboto", sans-serif;
}

/*==========================*/
/* MEDIA QUERIES*/
/*==========================*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .body {
    overflow-x: hidden;
  }
  header {
    overflow: hidden;
    background-image: url("../img/bg-mobile.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 5% 0% 10% 0%;
  }

  #return-div {
    display: flex;
    justify-content: center;
  }

  #return {
    position: static;
    margin-bottom: 10%;
    width: 100%;
  }

  #btn-book {
    justify-content: center;
    padding-right: 0%;
    padding-top: 5%;
    font-size: 0.7rem;
  }

  #ce-credits {
    top: 77%;
    left: -80%;
    width: 65px;
    height: 65px;
    font-size: 0.8rem;
    z-index: 2;
  }

  #date {
    font-family: "Roboto" Thin, sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.38px;
    margin: 1%;
  }

  .title {
    z-index: 3;
    font-size: 3.2rem;
    line-height: 65px;
    margin-left: 30px;
  }

  #subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 2.8px;
    position: relative;
    padding: 0%;
  }

  #circle-rigth {
    right: 25%;
    margin-top: 570%;
    margin-left: -90%;
    overflow: hidden;
  }

  #circle-left {
    width: 12%;
    overflow: hidden;
  }

  #circle-1 {
    visibility: hidden;
  }

  #circle-2 {
    visibility: hidden;
  }

  #circle-3 {
    visibility: hidden;
  }

  #intermediate {
    padding: 0% 2%;
    font-size: 1.2rem;
    z-index: 2;
  }

  /*--HOTEL--*/

  #location-tit {
    letter-spacing: 1.5px;
    font-size: 2.5rem;
  }

  #location-sub {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.5px;
    font-size: 1rem;
    font-weight: 900;
  }

  #location-dir {
    font-family: "Roboto", sans-serif;
    letter-spacing: 3px;
    font-size: 0.8rem;
  }

  /*--ABSTRACT--*/

  #abstract {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
  }

  #abstract div img {
    width: 60%;
    margin: 0%;
  }

  #abstract p {
    margin-top: 8%;
    width: 100%;
  }

  /*--ORADORES--*/

  #orators {
    background-color: #182256;
    font-family: "Roboto" Thin, sans-serif;
    flex-direction: column;
    align-items: center;
  }

  /*--PROGRAM--*/

  #program {
    font-family: "Roboto" Thin, sans-serif;
    font-size: 1rem;
    list-style-image: url("../img/ul-ico.png");
  }

  .inter {
    list-style-image: url("../img/ul-ico-2.png");
  }

  /*--WORKSHOP--*/

  #workshops {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #workshops-tit {
    margin-bottom: 15%;
  }

  #workshop-1 {
    border-radius: 50px;
    border-bottom-right-radius: 135px;
    width: 100%;
  }

  #workshop-1 div h5 {
    font-size: 1rem;
  }

  #workshop-2 {
    border-radius: 50px;
    border-bottom-right-radius: 135px;
    width: 100%;
  }

  #workshop-2 div h5 {
    font-size: 1rem;
  }

  /*--REGISTRO--*/

  #register {
    background-color: #182256;
    padding: 0% 0% 5% 0%;
  }

  #register h2 {
    font-size: 1.5rem;
    margin: 5% 0% 5% 0%;
  }

  #register p {
    font-size: 1rem;
  }

  #register a {
    width: 50%;
    margin-top: 5%;
  }

  #register button {
    border: 2px solid #5c32ea;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 3% 5% 3% 5%;
  }

  /*--FOOTER--*/

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15%;
  }

  #logo-footer {
    height: 3rem;
    margin: 0;
  }

  footer div a {
    color: white;
    font-family: "Roboto", sans-serif;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  /*--ENCABEZADO--*/

  body {
    overflow: hidden;
  }

  header {
    background-image: url("../img/bg.jpg");
    padding: 6% 0% 6% 0%;
  }

  #grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "return return return"
      "circle-left title circle-rigth"
      "btn-book btn-book btn-book";
  }

  #return-div {
    grid-area: return;
  }

  #circle-left {
    display: none;
  }

  #tit-container {
    width: max-content;
    grid-area: title;
    margin-left: 5%;
    z-index: 2;
  }

  #circle-rigth {
    grid-area: circle-rigth;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative;
    margin-top: 320%;
    margin-left: -110%;
    z-index: 2;
  }

  #btn-book {
    grid-area: btn-book;
    display: flex;
    justify-content: center;
    padding-right: 0%;
    padding-top: 5%;
    z-index: 3;
  }

  #return {
    top: 3%;
    margin-left: 1%;
    transition: transform 300ms ease-out;
    position: fixed;
    z-index: 1;
  }

  #return:hover {
    transform: translate(0px, 0px) scale(0.9, 0.9);
  }

  #date {
    font-family: "Roboto" Thin, sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1.7px;
  }

  .title {
    font-size: 7rem;
    line-height: 125px;
    z-index: 1;
    box-shadow: -30px 0px 0px 0px rgba(255, 255, 255, 1);
    -webkit-box-shadow: -30px 1px 0px -1px rgba(255, 255, 255, 1);
    -moz-box-shadow: -30px 1px 0px -1px rgba(255, 255, 255, 1);
  }

  #subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 7.58px;
    padding: 0%;
  }

  #btn-book-now {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1.3em;
    font-weight: 800;
    padding: 2%;
    top: 95%;
    left: 10%;
    color: #fff;
    width: 15em;
    height: auto;
    border: none;
    background: #9d0000;
    box-shadow: 10px 10px 18px rgba(92, 50, 234, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
  }

  #btn-book-now:hover {
    transform: translate(0px, 0px) scale(0.9, 0.9);
  }

  #circle-3 {
    display: none;
  }

  #ce-credits {
    width: 4em;
    height: 4em;
    border: 20px solid #5830de;
    border-radius: 50%;
    background: #5830de;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: 0%;
  }

  /*--INTERMEDIO--*/

  #intermediate {
    font-family: "Roboto" Thin, sans-serif;
    font-size: 2rem;
    margin-bottom: 0%;
  }

  #abstract {
    padding: 3%;
  }

  #abstract div img {
    width: 90%;
  }
  #abstract p {
    margin-top: 8%;
    width: 100%;
  }
  .workshop {
    width: 50%;
  }
}
